In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
dataset = pd.read_csv('insurance_pre.csv')
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [5]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
dependent=dataset['charges']
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [6]:
dependent

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

In [7]:
from sklearn.ensemble import RandomForestRegressor

In [8]:
from sklearn.model_selection import GridSearchCV

param_grid = {'criterion':['mse','mae'],
'max_features': ['auto','sqrt','log2'],
'n_estimators':[10,100]}
grid = GridSearchCV(RandomForestRegressor(), param_grid, refit = True, verbose = 3,n_jobs=-1)
# fitting the model for grid search
grid.fit(independent, dependent)

C:\Users\thiru\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 3 folds for each of 12 candidates, totalling 36 fits

[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:    9.4s
[Parallel(n_jobs=-1)]: Done  36 out of  36 | elapsed:   24.8s finished

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=RandomForestRegressor(bootstrap=True, criterion='mse',
                                             max_depth=None,
                                             max_features='auto',
                                             max_leaf_nodes=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             n_estimators='warn', n_jobs=None,
                                             oob_score=False, random_state=None,
                                             verbose=0, warm_start=False),
             iid='warn', n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=3)

In [9]:
re=grid.cv_results_
print("The R_score value for best parameter {}:".format(grid.best_params_))

The R_score value for best parameter {'criterion': 'mse', 'max_features': 'sqrt', 'n_estimators': 100}:

In [10]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.056558,0.008594,0.005013,0.001411,mse,auto,10,"{'criterion': 'mse', 'max_features': 'auto', '...",0.815799,0.800547,0.803881,0.806742,0.006547,12
1,0.461756,0.016308,0.036814,0.018896,mse,auto,100,"{'criterion': 'mse', 'max_features': 'auto', '...",0.838654,0.825483,0.817422,0.827186,0.008752,5
2,0.033779,0.007863,0.002340,0.000473,mse,sqrt,10,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.836701,0.813841,0.796603,0.815715,0.016423,9
3,0.452236,0.028707,0.036344,0.004331,mse,sqrt,100,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.843435,0.837568,0.817137,0.832713,0.011271,1
4,0.045412,0.006959,0.005850,0.001532,mse,log2,10,"{'criterion': 'mse', 'max_features': 'log2', '...",0.833643,0.819978,0.804108,0.819243,0.012069,8
5,0.309824,0.013909,0.027264,0.007130,mse,log2,100,"{'criterion': 'mse', 'max_features': 'log2', '...",0.841663,0.830425,0.818382,0.830157,0.009506,4
6,0.260426,0.012452,0.006102,0.002954,mae,auto,10,"{'criterion': 'mae', 'max_features': 'auto', '...",0.823256,0.819916,0.802362,0.815178,0.009164,10
7,8.576434,0.277583,0.062769,0.007264,mae,auto,100,"{'criterion': 'mae', 'max_features': 'auto', '...",0.824726,0.832240,0.818952,0.825306,0.005440,6
8,0.456017,0.187075,0.017214,0.003530,mae,sqrt,10,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.843874,0.812123,0.811390,0.822462,0.015143,7
9,5.503354,0.076514,0.084118,0.023835,mae,sqrt,100,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.839949,0.834123,0.818213,0.830762,0.009187,3
10,0.498306,0.068198,0.014476,0.001702,mae,log2,10,"{'criterion': 'mae', 'max_features': 'log2', '...",0.827162,0.808178,0.809922,0.815087,0.008568,11
11,4.816439,0.614149,0.048776,0.011058,mae,log2,100,"{'criterion': 'mae', 'max_features': 'log2', '...",0.842469,0.832292,0.819596,0.831452,0.009357,2

In [11]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:30
BMI:25
Children:1
Sex Male 0 or 1:0
Smoker Yes 0 or 1:0

In [12]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[7428.5941142]